* {
    padding: 0;
    margin: 0;
}
html{
    /* overflow: hidden; */
}
body{
    /* max-width: 190em; */
}

canvas {
    background: #eee;
    width: 100%;
    height: 100%;
    /* display: block;
    margin: 0 auto;
} */
}
.main{
    width: 90vw;
    max-width: 1200px;
    height: 70vh;
    padding: 0 5%
}
.gameSpace{
    display: flex;
    justify-content: space-between;
    padding: 5% 0 5% 0;
}
.game {
    width: 70%;
}
.links {
    width: 20%;
}
.controls{
    height: 40%;
    width: 100%;
}
#myControls{
    height: 100%;
    width: 100%;
}
.logoCon{
    position: relative;
}
.logo{
    position: absolute;
    top: -12em;
    left: 5em;
    display: inline;
    height: 5em;
    width: 6em;
}
.logo:hover{
    cursor: pointer;
}